.App {
  text-align: center;
}

main.mainContainer {
    margin: 15px 0 0 15px;
    display: flex;
    flex-direction: column;
}

main.mainContainer .searchResult {
    color: #333;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: start;
}

main.mainContainer .searchResult span {
    color: #828282;
}

@media(min-width: 900px) {

    .mainContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }

}