.App {
  text-align: center;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    width: 100%;
}

@media(min-width: 900px) {
    .mainContainer {
        display: flex;
        justify-content: space-around;
    }
}